{{ define "views/explore.html" }} {{ template "layouts/header.html" .basicData }}
<h2>File Explore</h2>
<pre><code>path: {{.formatedPath}}
GET: https://api.d4dj.info/api/file/list?path={{.path}}
</code></pre>
  <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
          <tr>
                <td><a href="{{.prevPage}}">../</a></td>
          </tr>
            {{ range $i, $d := .list }}
            <tr>
                <td><a href="/explore?path={{$d.Path}}">{{$d.Name}}</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>

{{ template "layouts/footer.html" .basicData }} {{ end }}
