{{ define "views/index.html" }} {{ template "layouts/header.html" .basicData }}
<p>
  Automatically parses and saves the resources of <a href="https://d4dj.bushimo.jp/">D4DJ Groovy Mix</a>, a game of
  Bushiroad.<br />
  This website is not affiliated with <a href="https://en.bushiroad.com/">Bushiroad</a>.
</p>
<h3>Links</h3>
<ul>
  <li>Explore Files: <a href="/explore">/explore</a></li>
  <li>Parse History: <a href="/explore">/history</a></li>
  <li>API Docs: <a href="/docs/index.html">/docs/index.html</a></li>
</ul>
<h3>Etc.</h3>
<ul>
  <li>Created by: Gangjun Lee &ltme@gangjun.dev&gt</li>
  <li>
    Github:
    <a href="https://github.com/gangjun06/d4dj-info-server"
      >github.com/gangjun06/d4dj-info-server</a
    >
  </li>
</ul>

{{ template "layouts/footer.html" .basicData }} {{ end }}
