# Created by https://www.toptal.com/developers/gitignore/api/go,dotnetcore
# Edit at https://www.toptal.com/developers/gitignore?templates=go,dotnetcore

### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Common node modules locations
/node_modules
/wwwroot/node_modules

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### Go Patch ###
/vendor/
/Godeps/

# End of https://www.toptal.com/developers/gitignore/api/go,dotnetcore

.env*
config.toml
config_docker.toml
assets
.vscode
howWorks.md
D4DJ-Tool-bin
docker_run.sh