[submodule "D4DJ-Tool"]
	path = D4DJ-Tool
	url = https://github.com/gangjun06/D4DJ-Tools
[submodule "D4DJ-asset-extractor"]
	path = D4DJ-asset-extractor
	url = https://github.com/gangjun06/D4DJ-asset-extractor.git
